:root {
    --PrimaryColor: #0056d7; /* Change of your choice */
    --PrimaryColorLight: #47aeff; /* Lighter version of --PrimaryColor for DarkMode */
}
body {
    font-family: "HarmonyOS",system-ui;
}
::selection {
    color: #ffffff;
    background-color: var(--PrimaryColor);
}